@use '~/assets/scss/variables' as *;

.app-horizontal-category-menu-container {
  position: relative;
}

.app-horizontal-category-menu-wrapper {
  white-space: nowrap;
  overflow-x: hidden;
  width: 100%;
}

.app-horizontal-category-menu {
  &__item {
    padding: 7px 12px;
    border: 1px solid #e4e9f2;
    border-radius: 5px;
    margin-right: 10px;
    display: inline-block;
  }

  &__link {
    font-size: 14px;
    color: #636c7e;
    text-align: center;
    text-decoration: none;
  }

  &__arrows {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__arrow {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    border: 1px solid #b4bad6;
    background-color: #fff;
    &:hover {
      background-color: $gray-200;
    }

    &--left {
      left: -10px;
    }
    &--right {
      right: -10px;
    }
  }
}
