@use './_variables' as *;

// Global styles for HTML and body elements

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $font-averta-regular;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  min-height: 100vh;
}

.btn-zero {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.rotate-180 {
  transform: rotate(180deg);
}

.tile-grid-icon {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 0.25rem;
}

.tile-grid-asset {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 0.25rem;
}
