@use '~/assets/scss/variables' as *;

.app-sidebar__wrapper {
  border-top: 1px solid $gray-200;
}

.app-sidebar__btn {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 57px;
  text-align: left;
}

.app-sidebar__label {
  color: $navy-300;
  font-family: $font-averta-semibold;
}
