@use '~/assets/scss/variables' as *;
.asset-tile-skeleton {
  background-color: $gray-100;
  border-radius: 8px;
  min-height: 210px;
  min-width: 280px;

  &.asset-tile-skeleton--icon {
    border-radius: 6px;
    min-height: 140px;
    min-width: 140px;
  }
}
